/* Apply a natural box layout model to all elements */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #5585b5;
  margin: 0;
  padding: 0;
}

#container {
  width: 80%;
  margin: 0 auto;
  background: #bbe4e9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header, footer {
  text-align: center;
  padding: 1em 0;
}

header h1 {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #c24d2c;
  padding: 0 10px;
}
nav ul {
    list-style-type: none;
    display: flex;
				  
}


nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: #c24d2c; 
}

nav ul li a:hover {
    text-decoration: underline; 
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

figure {
    text-align: center;
}

main {
  padding: 20px;
}

#wordInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#definitions {
  color: #333;
}

#definitions div {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

footer p {
  margin: 0;
  color: #666;
}
